@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}
/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #070b14;
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.12);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.22);
}
html {
  scroll-behavior: smooth;
}
body {
  background: #070b14;
}